body{
	font-family: 'Roboto', 'Arial', sans-serif;

	background-color: #849d8f;
}

.site-wrapper{
	min-width: 1200px;
}

.content-wrapper{
	box-sizing: border-box;
	width: 1200px;
	padding: 0 27px;
	margin: 0 auto;
}


//map
.map-layer{
	min-width: 1200px;
	height: 430px;
	background-image: url("../img/map.jpg");
}